@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
  }
  .spicy-rice-regular {
    font-family: "Spicy Rice", serif;
    font-weight: 900;
    font-style: normal;
  }

  
  